@layer repui.theme {
  :root,
  [data-rui-color-scheme="light"] {
    --rui-tooltip-background: var(--rui-color-inverse-surface);
    --rui-tooltip-color: var(--rui-color-on-inverse-surface);
    --rui-tooltip-border: var(--rui-color-inverse-border);
    --rui-tooltip-shadow: var(--rui-shadow-overlay, 4px 4px 8px rgb(0 0 0 / .1));
    --rui-tooltip-backdrop-filter: none;
  }

  [data-rui-color-scheme="dark"] {
    --rui-tooltip-background: var(--rui-color-inverse-surface);
    --rui-tooltip-color: var(--rui-color-on-inverse-surface);
    --rui-tooltip-border: var(--rui-color-inverse-border);
    --rui-tooltip-shadow: var(--rui-shadow-overlay, 4px 3px 8px rgb(255 255 255 / .07));
    --rui-tooltip-backdrop-filter: none;
  }
}
