{% load repui %}

{% appbar id="docs-appbar" behavior="sticky" surface="glass" %}
  <div class="docs-header">
    <a
      href="{% url 'workbench:home' %}"
      class="docs-brand"
    >
      RepUI Workbench
    </a>

    {% if appbar_label %}
      <span>{{ appbar_label }}</span>
    {% endif %}

    {% navbar aria_label="Навигация Workbench" %}
      {% if appbar_section == "home" %}
        {% nav_item href="/docs/" current=True %}Workbench{% endnav_item %}
      {% else %}
        {% nav_item href="/docs/" %}Workbench{% endnav_item %}
      {% endif %}
      {% if appbar_section == "components" %}
        {% nav_item href="/docs/components/" current=True %}Components{% endnav_item %}
      {% else %}
        {% nav_item href="/docs/components/" %}Components{% endnav_item %}
      {% endif %}
    {% endnavbar %}

    {% include "workbench/partials/theme_mode_select.html" %}
  </div>
{% endappbar %}
