{% load repui %}

<div class="docs-theme-control">
    {% icon_button href="https://github.com/vap-tech/RepUI" aria_label="RepUI на GitHub" class_name="docs-github-link" %}
        {% icon "github" %}
    {% endicon_button %}

    {% icon_button aria_label="Переключить тему" class_name="docs-theme-toggle" rui_theme_toggle=True %}
        <span data-rui-theme-icon="dark" aria-hidden="true">{% icon "moon" %}</span>
        <span data-rui-theme-icon="light" aria-hidden="true" hidden>{% icon "sun" %}</span>
    {% endicon_button %}

    {% select name="docs_appbar_palette" width="content" rui_palette_select=True aria_label="Палитра темы" %}
        {% for theme in theme_choices %}
            {% select_option value=theme.name selected=theme.is_default %}{{ theme.title }}{% endselect_option %}
        {% endfor %}
    {% endselect %}
</div>
